Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@WeronikaPiekacz 
angular
/
angular
Public
Fork your own copy of angular/angular
Code
Issues
1.2k
Pull requests
175
Discussions
Actions
Projects
6
Security
Insights
angular/.gitignore
@bob-watson
bob-watson docs: update of landing page and backup pages (#47047)
…
Latest commit b5bb4c1 on Jul 16, 2022
 History
 34 contributors
@alexeagle@mhevery@devversion@gkalpak@IgorMinar@tbosch@vsavkin@josephperrott@uraj@petebacondarwin@ocombe@zarend
59 lines (47 sloc)  948 Bytes

.DS_STORE

/dist/
/bazel-out
/integration/bazel/bazel-*
*.log
/node_modules/
/.angualar/

# CircleCI temporary file for cache key computation.
# See `save_month_to_file` in `.circleci/config.yml`.
month.txt

# Include when developing application packages.
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.swo
*.swp
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# Don't check in secret files
*secret.js

# Ignore npm/yarn debug log
npm-debug.log
yarn-error.log

# build-analytics
.build-analytics

# rollup-test output
/modules/rollup-test/dist/

# User specific bazel settings
.bazelrc.user

# User specific ng-dev settings
.ng-dev.user*

.notes.md
baseline.json

# Ignore .history for the xyz.local-history VSCode extension
.history

# Husky
.husky/_
aio/content/examples/.DS_Store
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
