<mat-toolbar color="primary">
    <mat-icon>local_fire_department</mat-icon>
    <span>Werka's firebase first app</span>
</mat-toolbar>

<form [formGroup]="form"
      (ngSubmit)="onChatSubmit()"
      style="padding: 10px;">
    <mat-form-field appearance="fill"
                    style="width: 100%">
        <mat-label>Name</mat-label>
        <input matInput
               maxlength="15"
               placeholder="Type name"
               formControlName="name">
        <mat-error>Name is required</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill"
                    style="width: 100%">
        <mat-label>Message</mat-label>
        <textarea matInput
                  maxlength="150"
                  placeholder="Type message"
                  formControlName="message"
                  #messageInput></textarea>
        <mat-hint>Mini character 3: {{ messageInput.value.length }}/150</mat-hint>
        <mat-error>Message is required</mat-error>
        <mat-error *ngIf="form.controls['message'].errors?.['minlength']">
            Please enter more than 3 character
        </mat-error>
    </mat-form-field>

    <button style="margin-top: 30px;"
            mat-stroked-button
            color="basic"
            type="submit"
            [disabled]="!form.valid">Submit</button>

</form>

<p style="padding: 20px 10px 10px 10px; margin-top: 10px; font-size: 16px; border-top: solid 2px #cc467b;">Messages</p>
<div style="padding: 10px; flex-grow: 1; overflow-y: auto; background-color: #e7c0cf; color: var(--primary-color)">
    <p *ngFor="let element of results">{{element.name}}: <span style="font-style: italic;">`{{element.message}}`</span>,
        <span style="opacity: 0.7;">{{element.date | date: 'short'}}</span>
    </p>
</div>